*.la
*.a
*.lo
*.o
*.so
*.so*
.*
!.gitignore
!*.orc

*.cache
*.m4
itvencoder
config.h
config.h.in
config.log
config.guess
config.sub
config.status
configure
libtool
itvencoder.spec
depcomp
install-sh
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
