{
    "decoder-pipeline": {
        "_comment_": "decoder pipeline template is variable according video codec and audio codec type",
        "selectable-keys": ["video-codec", "audio-codec"],
        "video-codec": "h.264",
        "video-codec-definition": {
            "value": ["mpeg2", "h.264"]
        },
        "audio-codec": "mpeg",
        "h.264-mpeg": {
            "pipeline-template": "videotestsrc ! video/x-raw-yuv,width=1280,height=720,framerate=25/1 ! ffmpegcolorspace ! clockoverlay halign=left valign=bottom time-format=\"%Y/%m/%d %H:%M:%S\" ! timeoverlay halign=right valign=bottom ! textoverlay text=iTVEncoder-0.1.2 valign=top halign=right ! appsink name=video audiotestsrc wave=8 ! appsink name=audio"
        }
    },
    "encoder-pipeline-1": {
        "selectable-keys": ["video-codec", "audio-codec", "mux"],
        "video-codec": "h.264",
        "audio-codec": "ac3",
        "mux": "mpeg2ts",
        "h.264-ac3-mpeg2ts": {
            "pipeline-template": "appsrc name=video is-live=true ! videoscale ! video/x-raw-yuv,width=<%width%>,height=<%height%> ! queue ! x264enc byte-stream=true pass=0 threads=4 bitrate=<%bitrate%> bframes=<%b-frames-number%> profile=<%profile%> ! mpegtsmux name=muxer ! queue ! appsink name=encodersink sync=false appsrc name=audio is-live=true ! faac outputformat=1 ! queue ! muxer.",
            "profile": "baseline",
            "width": 360,
            "height": 288,
            "b-frames-number": 3,
            "bitrate": 300
        }
    }
}
